<mat-toolbar color="primary" id="header" class="custom-navbar">
  <mat-toolbar-row>
  <a class="button" id="corner" href="">Home</a>
  <!-- //<span class="example-spacer"></span> -->
  <a class="button" id="menu" routerLink="/menu">Menu</a>
  <a class="button" id="review" routerLink="/display-review">Reviews</a>
  <a class="button" id="reservation" routerLink="/reservation-display">Reservations</a>
  <a class="button" id="reservation-list" routerLink="/reservation-list">Reservation List</a>
  </mat-toolbar-row>
</mat-toolbar>
