<html>
  <head>
  </head>
  <body>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <div class="CenterText">
      <hgroup>
        <h1 class="BigText">Lucky Gourmet Eats</h1>
        <h2>Sometimes all it takes is a simple menu</h2>
        <h2>and a little bit of luck</h2>
      </hgroup>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="SubText">Check Our Menu</h1>
        <p>We pride ourselves on offering a delicious menu that is sure to satisfy any appetite. </p>
        <p>From savory appetizers to mouth-watering desserts, we have something for everyone.</p>
      </div>
      <div class="col">
        <h1 class="SubText">Leave a Review</h1>
        <p>If you enjoyed your meal and service, please consider leaving a review on our website </p>
        <p>If there was anything we could have done better, please don't hesitate to let us know.</p>
      </div>
      <div class="col">
        <h1 class="SubText">Make Reservation</h1>
        <p>Ready to book a table at our restaurant?</p>
        <p>Use our online reservation system to choose your preferred date and time.</p>
      </div>
    </div>
  </body>
</html>
