/* #form button {
  width: 100%;
  margin-right: 10px;
} */

#header {
  margin-bottom: 0px;
}

#text
{
  width: 50%;
  float: left;
}

#list
{
  width: 48%;
  float: left;
  margin-left: 10px;
}

#con
{
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   background-color: #444444;}

/* .example-spacer {
  flex: 0 1 auto;
} */

#review, #menu, #reservation,#reservation-list
{
  padding: 25px;
  color: black;
}

#corner
{
  color:black;
  text-decoration: underline;
  /* font-weight: 200; */
}

/* body {
  padding-bottom: 60px;
} */

