<mat-card id = form>
  <form (submit)="onAddreservation(postForm)" #postForm = "ngForm">
    <mat-form-field>
      <input matInput type="text" name="Name" placeholder="Enter Name" ngModel required minlength="3" #Name="ngModel">
      <mat-error *ngIf="Name.invalid">Name not long enough</mat-error>
    </mat-form-field>
    <mat-form-field id="con">
      <input matInput  name="Time" placeholder="Enter Reservation" ngModel required minlength="1" #Time="ngModel">
      <mat-error *ngIf="Time.invalid">Time not long enough</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" name="Party" placeholder="Enter Number of Stars" ngModel required min="0" max="20" #Party="ngModel">
      <mat-error *ngIf="Party.invalid">Input amount in party</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Reservation</button>
  </form>
</mat-card>
